<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vppanchalofficial.reminder">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reminder">
        <activity
            android:name="com.vppanchalofficial.reminder.taskModule.CreateActivity"
            android:exported="true" />
        <activity
            android:name="com.vppanchalofficial.reminder.taskModule.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.vppanchalofficial.reminder.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vppanchalofficial.reminder.MainActivity"
            android:exported="true" />
    </application>

</manifest>